* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  color: #d5d5d5;
}

body {
  background: #256ca9;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#calculator {
  width: 345px;
  height: 500px;
  background-color: #212121;
  font-family: 'Libre Baskerville', serif;
}

#inputContainer {
  width: 100%;
  height: 100px;
}

#display {
  width: 98%;
  height: 100%;
  padding-left: 1vw;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  background-color: inherit;
}

.numbersBox {
  width: 98%;
  height: 397px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);

}

.buttonsOperator,
.buttonsNumber {
  border-right: 1px solid black;
  border-top: 1px solid black;
  font-size: 20px;
}

.buttonsOperator {
  background-color: #767676;
}

.buttonsNumber {
  background-color: #393939;
}

.buttonEqual {
  border-right: 1px solid black;
  border-top: 1px solid black;
  grid-row: span 2;
  font-size: 20px;
  background-color: rgb(21, 69, 136);
}

.buttonZero,
.buttonReset {
  border-right: 1px solid black;
  border-top: 1px solid black;
  grid-column: span 2;
  font-size: 20px;
}

.buttonZero {
  background-color: #393939;
}

.buttonReset {
  background-color: crimson;
}

.buttonReset:hover,
.buttonEqual:hover,
.buttonZero:hover,
.buttonsOperator:hover,
.buttonsNumber:hover  {
  border: 1px solid #d5d5d5;
  color: #212121;
}